<%-include('includes/head.ejs', {pageTitle: 'An Error Occured'}) %>

</head>
<body>
  <%-include('includes/header.ejs') %>
  <main>
    <h1>Something went wrong!</h1>
    <p>Unfortunately, something went wrong - please try again later!</p>
    <p><a class="bn" href="/">Back to safety</a></p>
   
  </main>
<%- include ('includes/footer.ejs') %>

